data/predefined_classes.txt
*.spec
pyinstaller
python-2.*
pywin32*
virtual-wine
venv_wine
PyQt4-*
lxml-*
windows_v*
linux_v*


beagles/resources.py

.idea*
BEAGLES.egg-info*

*.pyc
.*.swp

build/
dist/
venv/
data/ckpt/*
data/logs/*
data/summaries/*
data/committedframes/*
data/rawframes/*


docs/.build/

tags
cscope*
.ycm_extra_conf.py
.subvimrc
.vscode
*.pkl
*.DS_Store
.coverage
