global-include *.md
global-exclude *.py[oc] .DS_Store __pycache__

include resources.qrc
include requirements.txt

graft data
graft resources
graft libs

prune data/summaries
prune data/committedframes
prune data/rawframes
prune data/ckpt
prune data/logs
prune build-tools
