PyQt5>=5.12
defusedxml>=0.6.0
lxml>=4.2.4
Cython>=0.29.6
opencv-contrib-python==4.0.0.21
tensorflow>2.0.0b
numpy>=1.16.2
traces>=0.5.0
googletrans~=3.0.0
setuptools~=41.0.1
deprecated>=1.2.0
httpx>=0.23.0 # not directly required, pinned by Snyk to avoid a vulnerability